<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>MCAT CARS Practice</title>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="script.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="style.css">
<style>
  * {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 30px;
    height: 600px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .btn-group button {
  background-color: #9AC8FD  ; /* Green background */
  border: 1px solid white ; /* Green border */
  color: white; /* White text */
  padding: 8px 20px 8px 5px;
  /*padding: 8px 10px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  color: yellow;
}
  </style>
</head>
<body>
<div>
<div>
<nav class="navbar navbar-inverse" role="navigation" style="padding-left:5px;">
       <ul class="nav navbar-nav">
      <li class="active"><a href="/">Medical College Admission Test<span class="sr-only">(current)</span></a></li>
      <li><a href="/living-in-a-rational-society">Living in a Rational Society</a></li>
      <li><a href="/the-happy-american">The Happy American</a></li>
      <li><a href="/seeing-color-through-homer-s-eyes">Seeing Color Through Homer's Eyes</a></li>
      <li><a href="/physical-education-in-the-uk">Physical Education in the UK</a></li>
      <li><a href="/the-honest-truth-about-dishonesty">The Honest Truth About Dishonesty</a></li>
      <li><a href="/the-ultimatum-game">The Ultimatum Game</a></li>
      <li><a href="/tools-for-thought">Tools for Thought</a></li>
      <li><a href="/deconstructionism-and-literature">Deconstructionism and Literature</a></li>
      <li><a href="/does-free-will-exist">Does Free Will Exist?</a></li>
      <li><a href="/designing-courthouses">Designing Courthouses</a></li>
      <li><a href="/censorship--an-unnecessary-evil">Censorship: an Unnecessary Evil</a></li>
      <li><a href="/puritan-society">Puritan Society</a></li>
      <li><a href="/understanding-thomas-hardy">Understanding Thomas Hardy</a></li>
      <li><a href="/maternal-psychology">Maternal Psychology</a></li>
      <li><a href="/huns-and-eurasian-history">Huns and eurasian history</a></li>
      <li><a href="/energy-and-sustainable-development-in-nigeria">Energy and sustainable development in Nigeria</a></li>
      <li><a href="/primordial-and-complex-jealousy">Primordial and complex jealousy</a></li>
      <li><a href="/what-is-life">What is life?</a></li>
      <li><a href="/antenatal-depression-and-anxiety-in-pakistan">Antenatal depression and anxiety in Pakistan</a></li>
      <li><a href="/utilitarianism-ethics">Utilitarianism ethics</a></li>
      <li><a href="/reflections-on-leaving-facebook">Reflections on leaving Facebook</a></li>
      <li><a href="/walt-whitman--poet-of-the-people">Walt Whitman: poet of the people</a></li>
      <li><a href="/political-attitudes">Political attitudes</a></li>
      <li><a href="/the-human-footprint-in-mexico">The human footprint in Mexico</a></li>
      <li><a href="/what-separates-science-from-art">What separates science from art?</a></li>
      <li><a href="/post-colonialism-in-papuan-culture">Post-colonialism in Papuan culture</a></li>
      <li><a href="/film-adaptation-of-chinese-literature">Film adaptation of Chinese literature</a></li>
      <li><a href="/disaster-risk-knowledge-in-nepal">Disaster risk knowledge in Nepal</a></li>
      <li><a href="/the-ethics-of-drug-induced-happiness">The ethics of drug-induced happiness</a></li>
      <li><a href="/the-roots-of-capitalism">The roots of capitalism</a></li>
      <li><a href="/adult-learning-across-cultures">Adult learning across cultures</a></li>
      <li><a href="/sociology-of-participation">Sociology of participation</a></li>
      <li><a href="/let-s-stop-playing-politics-with-vaccines">Let's stop playing politics with vaccines</a></li>
      <li><a href="/buddhism-and-pessimism">Buddhism and pessimism</a></li>
    </ul>
</nav>
</div>
<br/>
<div class="btn-group" style="width:100%">
  <button style="width:10%">Highlight</button>
  <button style="width:10%">Strikethrough</button>
  <button style="width:67.5%">Watch Passage Analysis</button>
  <button style="width:12.5%; text-align: right;">Flag for Review</button>
</div>
<div class="jumbotron"> 
  <div class="row">
    <div class="column" style="background-color:#aaa; padding-left:30px;">
      <h2>Column 1</h2>
      
      <p>Some text..</p>
    </div>
    <div class="column" style="background-color:#bbb;">
      <h2>Column 2</h2>
      <p>Some text..</p>
    </div>
  </div>
</div>
</div>
</body>
</html>




<!-- const myQuestions = [
           {
             question: "",
             answers: {
               a: "",
               b: "",
               c: "",
               d: ""
             },
             correctAnswer: ""
           },
           {
             question: "",
             answers: {
               a: "",
               b: "",
               c: "",
               d: ""
             },
             correctAnswer: ""
           },
           {
             question: "",
             answers: {
               a: "",
               b: "",
               c: "",
               d: ""
             },
             correctAnswer: ""
           },
           {
             question: "",
             answers: {
               a: "",
               b: "",
               c: "",
               d: ""
             },
             correctAnswer: ""
 
           },
           {
             question: "",
             answers: {
               a: "",
               b: "",
               c: "",
               d: ""
             },
             correctAnswer: ""
 
           },
           {
             question: "",
             answers: {
               a: "",
               b: "",
               c: "",
               d: ""
             },
             correctAnswer: ""
 
           }
        
         ]; -->

